@tailwind base;
@tailwind components;
@tailwind utilities;

.app_food_headtext{
  color: #000;
font-family: Mulish;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.app_food_headtext-border{
  width: 306px;
height: 5px;
flex-shrink: 0;
background: #fff;
}
.app_cart_headtext_border{
  width: 134px;
height: 5px;
flex-shrink: 0;
background: #F1D5BB;
}
.app_foodCard-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: #45a049; 
  }


  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(50, 115, 220, 0.5);
  }

  &:active {
    transform: scale(0.98);
  }
}

.app_food_card_itemName{
  color: #000;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}